.product-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #555;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
  list-style: none;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.product-list button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.product-list button:hover {
  background-color: #45a049;
}
